
    body{
        font-family: Arial, Helvetica, sans-serif;
        padding:0 3%;
        background-image: url("img/whiteback.jpg");
                
      }
      
      p{
          line-height: 1.4cm;
      }
      
      img{
          display:block;
          margin: 0 auto;
          align-content: center;
      }

