h1{
    color:goldenrod;
        background-color: whitesmoke;
            text-align: center;
}
img{
    width: 170px;
    height: 190px;
}

blockquote{
    background-color: #FFFFA8;
    font-style: italic;
}

body{
  background-image: url("img/silverware.jpg");
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;

   
}