body{
    background-image: url("skeleton_files/background.png");
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner{
    display: block;
    position: relative;
    background-image: url("skeleton_files/banner.png");
    background-size: cover;
    background-repeat: no-repeat;

}